{% extends 'base.html' %}
{% load static %}

{% block content_body %}
	<div class="card">
		<div class="card-header" style="height: 50px;">
			<h4>{{head}}</h4>
		</div>
		<div class="card-body">
		<div class="row">
				<div class="col-sm-6">
					<button
						type="button"
						class="btn btn-success shadow">
						<a href="{% url 'app_akuntansi:tambah_customer' %}"><i class="fas fa-pen mr-1"></i>Tambah Data <strong>+</strong></a>
					</button>

					<div class="dropdown">
						<button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							10
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
							<button class="dropdown-item" type="button">1</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div style="margin-left: 530px;" class="dropdown tools">
					<button class="btn btn-secondary dropdown-toggle shadow " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						TOOLS
					</button>
					<div class="dropdown-menu" aria-labelledby="dropdownMenu2">
						<button class="dropdown-item" type="button">CETAK PDF</button>
						<button class="dropdown-item" type="button">CETAK Excel</button>
					</div>
					</div>
				</div>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th scope="col">No</th>
						<th scope="col">Nama</th>
						<th scope="col">Email</th>
						<th scope="col">Alamat</th>
						<th scope="col">Telp</th>
						<th scope="col">Aksi</th>
					</tr>
				</thead>
				<tbody>
				{% for customer in customer %}
					<tr>
						<th scope="row">1</th>
						<td>{{customer.nama}}</td>
						<td>{{customer.email}}</td>
						<td>{{customer.alamat}}</td>
						<td>{{customer.telp}}</td>
						<td>
							<a class="btn btn-success" href="{% url 'app_akuntansi:edit_customer' id_input=customer.id %}">
								<i class="far fa-edit"></i>
								Edit
							</a>
							<a class="btn btn-danger" href="{% url 'app_akuntansi:customer_delete' id_input=customer.id %}">
								<i class="far fa-trash-alt"></i>
								Delete</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

{% endblock  %}
	