{% extends 'base.html' %}
{% load static %}

{% block content_body %}
<div class="card">
    <div class="card-header" style="height: 50px;">
    <h4>{{head}}</h4>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group row">
                <label for="nota_number" class="col-sm-2 col-form-label">Nota Number</label>
                <div class="col-sm-3">
                    <input name="nota_number" required="true" class="form-control" type="text" id="nota_number">
                </div>
                <div class="col-sm-5"></div>
            </div>
            <div class="form-group row">
                <label for="tanggal" class="col-sm-2 col-form-label">Tanggal Masuk</label>
                <div class="col-sm-3">
                    <input name="tanggal" class="form-control" type="date" id="tanggal">
                </div>
                <div class="col-sm-5"></div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="pemasok">Pemasok</label>
              <div class="col-sm-3">
                  <select class="form-control" name="pemasok">
                    
                    {% for spl in supliers %}
                    <option value="{{spl.id}}">{{spl.nama}}</option>
                    {% endfor %}
                      
                  </select>
              </div>
            </div>
            <!-- start modal -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">  
                    <h4 class="modal-title"><b>Form Input Item Data</b></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body p-5 ml-5 mr-5">     
                      <div class="form-group row">
                          <div class="col-sm-4">
                            <label class="form-label">ID item</label>
                          </div>
                          <div class="col-sm-5">
                            <select class="form-control" name="id_item" id="id_barang">
                              {% for item in items  %}
                              <option value="{{item.id}}">{{item.kode_item}}</option>
                              {% endfor %}
                            </select>
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-4">
                            <label class="form-label">Item Nama</label>
                          </div>
                          <div class="col-sm-8">
                              <input name="item_nama" required="true" class="form-control" type="text" id="item_nama">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-4">
                            <label class="form-label">Uom</label>
                          </div>
                          <div class="col-sm-6">
                              <input name="uom" required="true" class="form-control" type="text" id="uom">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-4">
                            <label class="form-label">Harga</label>
                          </div>
                          <div class="col-sm-6">
                              <input name="harga" required="true" class="form-control" type="text" id="harga">
                          </div>
                      </div>
                      <div class="form-group row">
                          <div class="col-sm-4">
                            <label class="form-label">Quantity</label>
                          </div>
                          <div class="col-sm-6">
                              <input name="quantity" required="true" class="form-control" type="text" id="quantity">
                          </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <a class="btn btn-danger" href="{% url 'app_akuntansi:form_transaksi_pembelian' %}">Cancel</a>
                      <input class="btn btn-success" type="submit" value="Input">
                    </div> 
                  </div>
                </div>
              </div>

        </form>

            <!-- batas -->
          <div class="btn btn-success" data-toggle="modal" data-target="#myModal">
            <i class="fas fa-pen"></i>   
            Tambah Data <b>+</b>
          </div>
        <table class="table table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col">Nama</th>
              <th scope="col">Unit</th>
              <th scope="col">Quantity</th>
              <th scope="col">Harga</th>
              <th scope="col">Total</th>
              <th scope="col">Aksi</th>
            </tr>
          </thead>
          <tbody>
            {% for p in pembelians %}
              <tr>
                <th>{{p.nama}}</th>
                <td>{{p.uom}}</td>
                <td>{{p.quantity}}</td>
                <td>{{p.harga}}</td>
                <td>{{p.total}}</td>
                <td><a href="{% url 'app_akuntansi:edit_data_pembelian' p.id %}">Edit</a>
                    <a href="{% url 'app_akuntansi:hapus_pembelian' p.id %}">Delete</a></td>
                    
              </tr>
            {% endfor %}
            <tr>
              <th>Grand Total</th>
              <td></td>
              <td></td>
              <td></td>
              <td><b>{{total}}</b></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
    <!-- modal -->
    
      <!-- ending modal -->
  <div class="container mb-5">
    <a class="btn btn-success" href="{% url 'app_akuntansi:pembelian' %}">Save</a>
    <a class="btn btn-dark" href="">Cancel</a>
  </div>

{% endblock  %}
    